<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the ejs file</h1>
    <%= ["tushar","sristhi","vanshika"] [1]%>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur alias iure omnis quas quam molestias natus temporibus dolores enim facilis amet reiciendis dolorum, aperiam cupiditate qui, voluptatum nemo. Quidem, quaerat.</p>
</body>
</html>