<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page is reload for instagram followr @<%= username %></h1>
    <button>Follow</button>
    <button>Unfollow</button>
    <% if (followers > 100) { %>
    <p>This user is popular</p>
<% } else { %>
    <p>This is new or private</p>
<% } %>
</body>
</html>